.skills {
  flex-grow: 1;
}

.skills h1 {
  margin-bottom: 20px;
}

.content {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr;
}

.content div {
  margin: 25px;
  box-shadow: 6px 6px 6px 6px rgb(221, 221, 221);
  padding: 30px;
}

.content div:hover {
  margin: 25px;
  box-shadow: 6px 6px rgb(199, 199, 218);
  padding: 30px;
}

.content strong {
  line-height: 25px;
  padding-bottom: 15px;
  display: block;
}

.content li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }

  .content div {
    margin: 25px;
    box-shadow: 6px 6px 6px 6px rgb(221, 221, 221);
    padding: 30px;
  }

  .content div:hover {
    margin: 25px;
    box-shadow: 6px 6px rgb(199, 199, 218);
    padding: 30px;
  }
}

@media (min-width: 990px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
